/***********************************************
******************** Footer ********************
************************************************/
footer {
  background: #2c2c2c;
  p {
    margin: 0 23px;
    padding: 23px 0;
    color: #f2f2f2;
  }
  .fa {
    color: #ffba4d;
    font-size: 20px;
  }
  a {
    margin-left: 6px;
  }
}