/***********************************************
*****************Subscription ****************
************************************************/
$yellow: #ffba4d;

.subscription {
  padding-top: 8%;
  padding-bottom: 8%;

  h1 {
    color: #204866;
  }

  .input-feild {
    width: 50%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 6px;
  }

  .email-btn {
    background-color: $yellow;
    padding: 2.5% 12%;
    border-radius: 6px;
    border: none;
    color: #fff;

    @media screen and (min-width: 700px) {
      padding: 1.5% 32px;
      width: 226px;
    }
  }

  a {
    color: $yellow;
  }
}